.feedback__wrapper {
  padding: 37px 22px 0;
}

.feedback__slogan {
  text-transform: uppercase;
  line-height: 26px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  margin: 0 0 0 2px;
  font-weight: 700;
  text-align: center;
}

.feedback__text {
  text-transform: uppercase;
  line-height: 24px;
  color: #333333;
  text-align: center;
  font-size: 14px;
  padding: 13px 0 5px 0;
}

@media (min-width: @tablet-width) {
  .feedback__wrapper {
    padding: 76px 162px 70px;
  }

  .feedback__slogan {
    font-size: 30px;
    margin: 0 0 0 -1px;
  }

  .feedback__text {
    margin: 17px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .feedback__wrapper {
    padding: 104px 380px 37px;
  }

  .feedback__text {
    margin: 19px 0 16px;
  }
}
