.footer {
  display: flex;
  flex-direction: column;
  padding: 41px 85px 23px;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .footer {
    flex-direction: row;
    padding: 36px 60px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    padding: 36px 120px;
  }
}
