.foto {
  padding: 22px 20px 17px;
  font-size: 14px;
  line-height: 24px;
  border-top: 1px solid #e5e5e5;
}

.foto__text {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 15px 0 0;
}

.foto__author {
  color: #333333;
  text-transform: none;
  margin: 0;
}

.foto__like {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  padding: 8px 0 0 36px;
}

.foto__image {
  width: 280px;
  height: 280px;
}

@media (min-width: @tablet-width) {
  .foto {
    padding: 0;
    border: none;
  }

  .foto__image {
    width: 324px;
    height: 267px;
  }

  .foto__image--sunset {
    width: 648px;
    height: 400px;
  }

  .foto__text {
    margin: 0;
  }

  .foto__like {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .foto__image {
    width: 400px;
  }

  .foto__image--sunset {
    width: 1200px;
  }
}
