.foto-video {
  text-transform: uppercase;
}

.foto-video__wrapper--main {
  padding: 38px 0 3px;
}

.foto-video__wrapper--foto {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.foto-video__slogan {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 0 99px;
}

.foto-video__text {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  width: 270px;
  text-align: center;
  margin: 27px 0 0 26px;
}

@media (min-width: @tablet-width) {
  .foto-video__wrapper--main {
    padding: 75px 170px 0;
  }

  .foto-video__wrapper--foto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 67px 60px 52px;
  }

  .foto-video__slogan {
    font-size: 30px;
    margin: 0 0 0 110px;
  }

  .foto-video__text {
    width: 428px;
    margin: 31px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .foto-video__wrapper--main {
    padding: 113px 170px 69px;
  }

  .foto-video__wrapper--foto {
    padding: 0;
  }

  .foto-video__slogan {
    margin: 0 0 0 325px;
  }

  .foto-video__text {
    margin: 31px 0 0 215px;
  }
}
