.page-header {
  margin-bottom: 56px;
}

.page-header__wrapper {
  display: flex;
  justify-content: center;
}

.page-header__link {
  z-index: 1;
  position: absolute;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .page-header {
    margin: 0;
  }

  .page-header__link {
    position: absolute;
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__link {
    img {
      width: 188px;
      height: 96px;
    }
  }
}
