.properties {
  list-style: none;
  text-transform: uppercase;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 0 0 29px;
  margin: 17px 0 0;
}

.properties__item {
  position: relative;
  padding-left: 69px;
}

.properties__item svg {
  width: 39px;
  height: 37px;
  fill: #81b3d2;
  position: absolute;
  top: 11px;
  left: 20px;
}

.properties__title {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 18px 0;
}

.properties__text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  width: 210px;
  margin: 9px 0;
}

@media (min-width: @tablet-width) {
  .properties {
    flex-direction: row;
    padding: 123px 45px 58px 50px;
    justify-content: space-between;
  }

  .properties__title {
    font-size: 21px;
  }

  .properties__text {
    text-align: center;
  }

  .properties__item {
    width: 155px;
    padding: 0;
  }

  .properties__item svg {
    width: 75px;
    height: 75px;
    fill: #81b3d2;
    position: absolute;
    top: -83px;
    left: 38px;
  }

  .properties__item:nth-child(1) {
    order: 1;
  }

  .properties__item:nth-child(2) {
    order: 3;
  }

  .properties__item:nth-child(3) {
    order: 2;
  }

  .properties__item--house {
    .properties__title {
      margin: 17px 44px;
    }

    .properties__text {
      width: 160px;
      margin: 22px 0 0;
    }
  }

  .properties__item--gift {
    .properties__title {
      margin: 17px 21px 0;
    }

    .properties__text {
      width: 163px;
      margin: 23px -10px 0;
    }
  }

  .properties__item--burger {
    .properties__title {
      margin: 17px 56px 0;
    }

    .properties__text {
      width: 155px;
      margin: 22px -2px 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .properties {
    padding: 122px 90px 84px 70px;
  }

  .properties__item {
    width: 283px;
  }

  .properties__item--house svg {
    left: 91px;
  }

  .properties__item--burger svg {
    left: 114px;
  }

  .properties__item--gift svg {
    left: 135px;
  }

  .properties__item--house {
    .properties__title {
      margin: 17px 0 0 95px;
    }

    .properties__text {
      width: 252px;
      margin: 22px 12px 0;
    }
  }

  .properties__item--gift {
    .properties__title {
      margin: 17px 0 0 122px;
    }

    .properties__text {
      width: 214px;
      margin: 23px 82px 0;
    }
  }

  .properties__item--burger {
    .properties__title {
      margin: 17px 0 0 132px;
    }

    .properties__text {
      width: 283px;
      margin: 22px 0 0 9px;
    }
  }
}
