.properties {
  list-style: none;
  text-transform: uppercase;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 2px 0 30px;
  margin: 17px 0 0;
}

.properties__item {
  padding-left: 69px;
}

.properties__title {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 17px 0;
}

.properties__text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  width: 210px;
  margin: 9px 0;
}

@media (min-width: @tablet-width) {
  .properties {
    flex-direction: row;
    padding: 55px 45px 65px 50px;
  }

  .properties__item {
    width: 155px;
  }
}

@media (min-width: @desktop-width) {
  .properties {
    padding: 55px 90px 85px 70px;
  }

  .properties__item {
    width: 252px;
  }
}
