.reason h2,
p,
ul {
  margin: 0;
}

.reason {
  text-align: center;
  text-transform: uppercase;
}

.reason__slogan {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.reason__info-number {
  line-height: 21px;
}

.reason__text {
  font-size: 14px;
  padding: 35px 32px 10px;
}

.reason__info--large {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 44px 20px;
}

.reason__info--short {
  background-color: #eeeeee;
  padding: 32px 20px;
}

.reason__info-title {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.reason__info-text {
  font-size: 14px;
  line-height: 21px;
}

.reason__info-city {
  background: url("../img/main-city-mobile@1x.jpg") center no-repeat;
  height: 260px;
}

.reason__info-bridge {
  background: url("../img/main-bridge-mobile@1x.jpg") center no-repeat;
  height: 260px;
}
