.sedona {
  background: url("../img/bg-back-mobile@1x.jpg") center no-repeat;
  height: 157px;
  position: relative;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
    background-position: bottom;
  }

  &::after {
    content: "";
    background: url("../img/bg-intro-triangle-mobile.svg") center no-repeat;
    height: 57px;
    width: 320px;
    position: absolute;
    top: 116px;
  }

  svg {
    position: absolute;
    width: 229px;
    height: 39px;
    top: 51px;
    left: 45px;
  }
}

@media (min-width: @tablet-width) {
  .sedona {
    background: url("../img/bg-back-tablet@1x.jpg") center bottom no-repeat;
    height: 288px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 768px auto;
      background-position: bottom;
    }

    &::after {
      content: "";
      background: url("../img/bg-intro-triangle-tablet.svg") center no-repeat;
      height: 57px;
      width: 768px;
      position: absolute;
      top: 232px;
      left: 0;
    }

    svg {
      width: 458px;
      height: 78px;
      top: 94px;
      left: 156px;
    }
  }
}

@media (min-width: @desktop-width) {
  .sedona {
    background: url("../img/bg-back-desktop@1x.jpg") center bottom no-repeat;
    width: 1200px;
    height: 298px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &::after {
      content: "";
      background: url("../img/bg-intro-triangle-desktop.svg") center no-repeat;
      height: 57px;
      width: 1200px;
      position: absolute;
      left: 0;
      top: 243px;
    }

    svg {
      width: 461px;
      height: 80px;
      top: 100px;
      left: 370px;
    }
  }
}
