.sedona {
  background: url("../img/bg-back-mobile@1x.jpg") center no-repeat;
  height: 320px;

  &::after {
    content: "";
    background: url("../img/bg-intro-triangle-mobile.svg") center no-repeat;
    height: 57px;
    width: 320px;
    position: absolute;
    top: 601px;
  }

  &::before {
    content: "";
    background: url("../img/text-sedona.svg") center no-repeat;
    width: 229px;
    height: 39px;
    position: absolute;
  }
}

@media (min-width: @tablet-width) {
  .sedona {
    background: url("../img/bg-back-tablet@1x.jpg") center no-repeat;

    &::after {
      content: "";
      background: url("../img/bg-intro-triangle-tablet.svg") center no-repeat;
      height: 57px;
      width: 768px;
      position: absolute;
      top: 420px;
      left: -41px;
    }

    &::before {
      content: "";
      background: url("../img/text-sedona.svg") center no-repeat;
      width: 458px;
      height: 78px;
      position: absolute;
    }
  }
}

@media (min-width: @desktop-width) {
  .sedona {
    background: url("../img/bg-back-desktop@1x.jpg") center no-repeat;
    width: 1200px;
    height: 518px;

    &::after {
      content: "";
      background: url("../img/bg-intro-triangle-desktop.svg") center no-repeat;
      height: 57px;
      width: 1200px;
      position: absolute;
      left: 38px;
      top: 612px;
    }

    &::before {
      content: "";
      background: url("../img/text-sedona.svg") center no-repeat;
      width: 461px;
      height: 80px;
      position: absolute;
      top: 215px;
      left: 418px;
    }
  }
}
