.video {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 106px;
}

.video__description {
  padding: 22px 42px 36px;
}

.video__slogan {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 15px 0 0;
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  margin: 27px 0 0;
}

.video__film-wrapper {
  width: 321px;
  height: 201px;
  background: url("../img/video-mobile@1x.jpg") center no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video__film {
  width: 321px;
  height: 201px;
}

.video__film-controls {
  margin: 0 20px;
  padding: 22px 24px;
  background: #f2f2f2;

  button {
    background-color: transparent;
    border: 0;
    position: relative;
  }

  svg {
    position: absolute;
  }

  svg,
  path,
  polygon {
    fill: #5c6870;
    cursor: pointer;

    &:hover {
      fill: #333333;
    }

    &:active {
      fill: #333333;
      opacity: 0.3;
    }
  }
}

.video__film-replay {
  svg {
    width: 16px;
    height: 20px;
    left: 2px;
    bottom: 2px;
  }
}

.video__film-comment {
  svg {
    width: 32px;
    height: 20px;
    left: 131px;
    bottom: 1px;
  }
}

.video__film-enlarge {
  svg {
    width: 20px;
    height: 20px;
    left: 176px;
    bottom: 2px;
  }
}

@media (min-width: @tablet-width) {
  .video {
    border: none;
    margin-bottom: 48px;
  }

  .video__description {
    padding: 0 175px 71px;
  }

  .video__slogan {
    font-size: 30px;
  }

  .video__text {
    margin: 31px 0 0;
  }

  .video__film-wrapper {
    width: 648px;
    height: 499px;
    background: url("../img/video-tablet@1x.jpg") center no-repeat;
    margin: 0 60px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video__film {
    width: 648px;
    height: 499px;
    position: relative;
    z-index: 1;
  }

  .video__film-controls {
    position: relative;
    z-index: 2;
    bottom: 95px;
    margin: 0;
    padding: 37px 24px;
    background: rgba(0, 0, 0, 0.6);

    svg,
    path,
    polygon {
      fill: #ffffff;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .video__film-replay {
    svg {
      left: 11px;
      bottom: 0;
    }
  }

  .video__film-comment {
    svg {
      left: 483px;
      bottom: 0;
    }
  }

  .video__film-enlarge {
    svg {
      left: 525px;
      bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-bottom: 89px;
  }

  .video__description {
    padding: 57px 392px 68px;
  }

  .video__film-wrapper {
    width: 800px;
    height: 500px;
    background: url("../img/video-desktop@1x.jpg") center no-repeat;
    margin: 0 200px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .video__film {
    width: 800px;
    height: 500px;
  }

  .video__film-comment {
    svg {
      left: 633px;
    }
  }

  .video__film-enlarge {
    svg {
      left: 677px;
    }
  }
}
