.video {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 100px;
}

.video__description {
  padding: 18px 42px 35px;
}

.video__slogan {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 15px 0 0;
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  margin: 27px 0 0;
}

.video__film-wrapper {
  width: 321px;
  height: 201px;
  background: url("../img/video-mobile@1x.jpg") center no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video__film {
  width: 321px;
  height: 201px;
}

@media (min-width: @tablet-width) {
  .video {
    border: none;
    margin-bottom: 44px;
  }

  .video__description {
    padding: 0 175px 73px;
  }

  .video__slogan {
    font-size: 30px;
  }

  .video__text {
    margin: 31px 0 0;
  }

  .video__film-wrapper {
    width: 648px;
    height: 499px;
    background: url("../img/video-tablet@1x.jpg") center no-repeat;
    margin: 0 60px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video__film {
    width: 648px;
    height: 499px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-bottom: 89px;
  }

  .video__description {
    padding: 57px 392px 68px;
  }

  .video__film-wrapper {
    width: 800px;
    height: 500px;
    background: url("../img/video-desktop@1x.jpg") center no-repeat;
    margin: 0 200px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .video__film {
    width: 800px;
    height: 500px;
  }
}
