.welcome {
  background: url("../img/bg-back-mobile@1x.jpg") center no-repeat;
  height: 389px;

  &::after {
    content: "";
    background: url("../img/bg-intro-triangle-mobile.svg") center no-repeat;
    height: 57px;
    width: 1201px;
  }

  &::before {
    content: "";
    background: url("../img/text-sedona-index.svg") center no-repeat;
    width: 282px;
    height: 214px;
  }
}
